<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:8889/gestio_hospitals?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">somachigun</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">validate</property>
    <property name="hibernate.jdbc.batch_size">0</property>
    <mapping class="DomainLayer.DomainModel.Hospital"/>
    <mapping class="DomainLayer.DomainModel.Especialitat"/>
    <mapping class="DomainLayer.DomainModel.Habitacio"/>
    <mapping class="DomainLayer.DomainModel.Sanitari"/>
    <mapping class="DomainLayer.DomainModel.Persona"/>
    <mapping class="DomainLayer.DomainModel.Pacient"/>
    <mapping class="DomainLayer.DomainModel.Infermera"/>
    <mapping class="DomainLayer.DomainModel.Metge"/>
    <mapping class="DomainLayer.DomainModel.Ingres"/>
  </session-factory>
</hibernate-configuration>
